Source: instead-game-lines
Section: games
Priority: optional
Maintainer: Sam Protsenko <joe.skb7@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://instead.googlecode.com

Package: instead-game-lines
Architecture: all
Depends: instead, ${misc:Depends}
Enhances: instead
Description: clone of "Color Lines" game
 "INSTEAD Lines" is clone of popular game called "Color Lines".
 Color Lines is a computer puzzle game.
 .
 For details see article at Wikipedia:
 http://en.wikipedia.org/wiki/Lines_%28video_game%29
